body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f1de;
    align-items: center;
    align-content: center; 
}

.main-heading{
    margin: auto;
    text-align: center;
    font-size: x-large;
    padding: 10px 30px 10px 30px;
    background-color: #e07a5f;
    border-radius: 20px;
    width: 800px;
    border-bottom: 4px black solid;
    border-left: 4px black solid;
    
}

.Fonts{
    margin: auto;
    text-align: center;
    margin-top: 10px;
    background-color: #81b29a;
    border-bottom: 4px black solid;
    border-left: 4px black solid;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    width: 400px;
    height: fit-content;
}

.Font-list{
    line-height: 200%;
    margin: auto;
    font-size: large;
    color: #000000;
    margin-top: 20px;
    background-color: #f2cc8f;
    border-bottom: 4px black solid;
    border-left: 4px black solid;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    width: 400px;
    height: fit-content;
}

.Colors{
    margin: auto;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    background-color: #3d405b;
    border-bottom: 4px black solid;
    border-left: 4px black solid;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    width: 400px;
    height: fit-content;
}

.Color-list{
    line-height: 200%;
    margin: auto;
    font-size: large;
    color: #000000;
    margin-top: 20px;
    background-color: #f2cc8f;
    border-bottom: 4px black solid;
    border-left: 4px black solid;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    width: 400px;
    height: fit-content;

}